<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Untitled Document</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="public/styles/css/styles.css" type="text/css">
</head>

<body>

	<div class="wr">
		<div id="block-login">
			<div id="logo">
				<img src="public/styles/images/logo.svg" alt="Logo">	
			</div>
			<div id="welcom-text">
				Welcom to the Learning Management System
				<div>Please log in to continue</div>
			</div>
			
			<div id="message_error">{{messageError}}</div>
			
			<div class="field-text">
				<img src="public/styles/images/user.svg" alt="login">	
				<input type="text" v-model="login" placeholder="Username">
			</div>
			<div class="field-text">
				<img src="public/styles/images/password.svg" alt="password">	
				<input type="password" v-model="password" placeholder="Password">
			</div>
			
			<div id="block-remember-me">
				<label><input id="remember-me" v-model="remember" type="checkbox"> Remember me</label>
			</div>
	
			<div id="button" v-on:click="loginInService">
				Log in 
				
				<div id="circle">
					<i class="arrow right"></i>
				</div>
			</div>
		</div>
	
	</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="public/js/jquery.min.js"></script>
    <script src="public/js/login.js"></script>
</body>
</html>
